html{
	background: #1a2a6c;
	background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
}
*{
	margin: 0;
	padding: 0;
}
/* Menu start */
.menu{
	box-sizing: content-box;
	margin-left: 25vw;
	margin-top: 12.5vh;
	height: 75vh;
	width: 50vw;
}
.menu h1{
	font-family: 'Encode Sans', sans-serif;
	font-size: 4em;
	color: white;
	font-weight: lighter;
}
.menu h2{
	font-family: 'Encode Sans', sans-serif;
	font-size: 1.5em;
	color: white;
}
.menu a{
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	line-height: 15vh;
}
.titre{
	text-align: center;
	height: 100px;
	width: 250px;
	line-height: 15vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
   	border-bottom: 2px solid white;
}
.onglets{
	display: inline-flex;
	height: 15vh;
	width: 24.5vw;
	background: none;
}

/* Menu end */
/* Menu start */

/* Menu end */