html{
	background: #b21f1f;
	background: linear-gradient(to right, #660066, #b21f1f, #fdbb2d);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.backscreen{
	background: #b21f1f;
	background: linear-gradient(to right, #660066, #b21f1f, #fdbb2d);
	height: 100%;
}
.menu1{
	display: flex;
	background:none;
	margin-top: 20vh;
	height: 60vh;
	border-width: 9px;
	border-style: solid;
	border-color: white;
	border-radius: 5px;
}
.menu2{
	height: 97%;
	width: 98%;
	margin:auto;
	border: solid white 3px;
}
.menu3{
	text-align: center;
}
.menu4{
	height: 20px;
	background: blue;
}
.menu5{
	height: 20px;
	background: blue;
}
.menu6{
	height: 20px;
	background: blue;
}
.menu7{
	height: 20px;
	background: blue;
}
